{{define "history"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>History</title>
    </head>
    <body>
        <h3>Expenses Statistics: </h3>
        {{range .Expense.Ratios}}
            {{.CategoryName}}: {{.Percent}}% |
        {{end}}
        <h3>Incomes Statistics: </h3>
        {{range .Income.Ratios}}
            {{.CategoryName}}: {{.Percent}}% |
        {{end}}
        {{if .HistoryShowAll.HistoryShowAll}}
            <h3>History: </h3>
            <ul style="list-style-type:none;">
                {{range .HistoryShowAll.HistoryShowAll}}
                    <li>
                        <div class="history">
                            <p>
                                {{.CategoryType}} {{.Amount}}lv: {{.CategoryName}}
                                {{if .Description}}for {{.Description}}{{end}}
                            </p>
                        </div>
                    </li>
                {{end}}
            </ul>
        {{else}}
            <h4>You have no history!</h4>
        {{end}}
    <form method="GET" action="/index">
        <input type="submit" value="Back" />
    </form>
    </body>
    </html>
{{end}}