{{define "index"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
<h1>Hello, {{.Username}}.</h1>
<h3>You have {{.Balance}}lv.</h3>
<section style="margin-bottom: 10px;">
<form method="GET" action="/index/earn" style="display: inline">
    <input type="submit" value="+" />
</form>
<form method="GET" action="/index/pay" style="display: inline">
    <input type="submit" value="-" />
</form>
</section>

<section style="margin-bottom: 10px;">
<form method="GET" action="/index/users" style="margin-bottom: 5px; margin-top: 5px; display: inline">
    <input type="submit" value="Users" />
</form>
<form method="GET" action="/index/friends" style="margin-bottom: 5px; display: inline";>
    <input type="submit" value="Friends" />
</form>
<form method="GET" action="/index/history" style="margin-bottom: 5px; display: inline";>
    <input type="submit" value="History" />
</form>
</section>

<form method="POST" action="/index/logout" style="margin-bottom: 5px";>
    <input type="submit" value="Logout" />
</form>
</body>

</html>

{{end}}