{{define "index"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
<h1>Hello, {{.}}</h1>
<form method="GET" action="/index/users">
    <input type="submit" value="Show Users" />
</form>
<form method="GET" action="/index/friends">
    <input type="submit" value="Show Friends" />
</form>
<form method="POST" action="/index/logout">
    <input type="submit" value="Logout" />
</form>
</body>

</html>

{{end}}