{{define "pay"}}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pay</title>
    </head>

    <body>
    <h3>You have {{.Balance}}lv.</h3>
        <div class="pay">
            <form method="POST" action="/index/pay">
                <label>Amount: </label><input name="amount" type="number" value="" min="1" max="{{.Balance}}" required/>
                <label>Category: </label>
                    <select name="category" id="category">
                        {{range .Categories}}
                           <option value={{.Name}}>{{.Name}}</option>
                        {{end}}
                    </select>
                <label>Description: </label><input name="description" type="text" value=""/>
                <input type="submit" value="Pay" />
            </form>
        </div>
        <div class="loan">
            <form method="POST" action="/index/loan">
{{/*                <label>Loan to: </label><input name="to" type="text" value="" min="1" max="{{.Balance}}" placeholder="Friend`s Username" required/>*/}}
                <label>Amount: </label><input name="amount" type="number" value="" min="1" max="{{.Balance}}" required/>
                <label>Category: </label>
                <select name="category" id="category">
                    {{range .Categories}}
                        <option value={{.Name}}>{{.Name}}</option>
                    {{end}}
                </select>
                <label>Description: </label><input name="description" type="text" value=""/>
                <input type="submit" value="Pay" />
            </form>
        </div>
    <form method="GET" action="/index">
        <input type="submit" value="Back" />
    </form>
    </body>

    </html>

{{end}}