{{define "pay"}}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pay</title>
    </head>

    <body>
    <h3>You have {{.Balance}}lv.</h3>
        <section class="pay" style="margin-bottom: 15px;">
            <h4 style="margin-bottom: 5px; margin-top: 5px; display: inline">Pay: </h4>
            <form method="POST" action="/index/pay">
                <label>Amount: </label><input name="amount" type="number" value="" min="1" max="{{.Balance}}" required/>
                <label>Category: </label>
                    <select name="category" id="category">
                        {{range .Categories}}
                           <option value={{.Name}}>{{.Name}}</option>
                        {{end}}
                    </select>
                <label>Description: </label><input name="description" type="text" value=""/>
                <input type="submit" value="Pay" />
            </form>
        </section>
        <section class="loan" style="margin-bottom: 15px;">
            <h4 style="margin-bottom: 5px; margin-top: 5px; display: inline">Give loan to: </h4>
            <form method="POST" action="/index/loan">
                <label>Friend`s name: </label>
                <select name="to" id="to">
                    {{range .Friends}}
                        <option value={{.}}>{{.}}</option>
                    {{end}}
                </select>
                <label>Amount: </label><input name="amount" type="number" value="" min="1" max="{{.Balance}}" required/>
                <label>Description: </label><input name="description" type="text" value=""/>
                <input type="submit" value="Give" />
            </form>
        </section>
        <section class="split" style="margin-bottom: 15px;">
            <h4 style="margin-bottom: 5px; margin-top: 5px; display: inline">Split: </h4>
            <form method="POST" action="/index/split">
                <label>Friend`s name: </label>
                <select name="to" id="to">
                    {{range .Friends}}
                        <option value={{.}}>{{.}}</option>
                    {{end}}
                </select>
                <label>Amount: </label><input name="amount" type="number" value="" min="1" max="{{.Balance}}" required/>
                <label>Category: </label>
                <select name="category" id="category">
                    {{range .Categories}}
                        <option value={{.Name}}>{{.Name}}</option>
                    {{end}}
                </select>
                <label>Description: </label><input name="description" type="text" value=""/>
                <input type="submit" value="Split" />
            </form>
    </section>
    <form method="GET" action="/index">
        <input type="submit" value="Back" />
    </form>
    </body>

    </html>
{{end}}